@import url("../libs/fullpage.js/jquery.fullPage.css");
@import url("../libs/fancybox/dist/jquery.fancybox.min.css");
@import url("../libs/slick-carousel/slick/slick.css");
@import url("../libs/slick-carousel/slick/slick-theme.css");
.icon-app-store {
  background-image: url(../img/sprite.png);
  background-position: -117px 0px;
  width: 160px;
  height: 46px; }

.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -159px -92px;
  width: 24px;
  height: 16px; }

.icon-arrow-top {
  background-image: url(../img/sprite.png);
  background-position: -183px -92px;
  width: 24px;
  height: 16px; }

.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -207px -92px;
  width: 16px;
  height: 16px; }

.icon-computer {
  background-image: url(../img/sprite.png);
  background-position: 0px -117px;
  width: 42px;
  height: 42px; }

.icon-config {
  background-image: url(../img/sprite.png);
  background-position: -40px -159px;
  width: 38px;
  height: 38px; }

.icon-devices {
  background-image: url(../img/sprite.png);
  background-position: -42px -117px;
  width: 46px;
  height: 35px; }

.icon-email {
  background-image: url(../img/sprite.png);
  background-position: -137px -92px;
  width: 22px;
  height: 18px; }

.icon-google-play {
  background-image: url(../img/sprite.png);
  background-position: -117px -46px;
  width: 160px;
  height: 46px; }

.icon-iphone {
  background-image: url(../img/sprite.png);
  background-position: -78px -159px;
  width: 22px;
  height: 36px; }

.icon-li {
  background-image: url(../img/sprite.png);
  background-position: -117px -92px;
  width: 20px;
  height: 20px; }

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -88px -117px;
  width: 18px;
  height: 18px; }

.icon-thank-you {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 117px;
  height: 117px; }

.icon-thumbs-up {
  background-image: url(../img/sprite.png);
  background-position: 0px -159px;
  width: 40px;
  height: 39px; }

/* Grid */
.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

@font-face {
  src: url("../fonts/SF-UI-Display-Light.otf");
  font-family: "San Francisco";
  font-weight: 300; }

@font-face {
  src: url("../fonts/SF-UI-Display-Regular.ttf");
  font-family: "San Francisco";
  font-weight: 400; }

@font-face {
  src: url("../fonts/SF-UI-Display-Medium.otf");
  font-family: "San Francisco";
  font-weight: 500; }

@font-face {
  src: url("../fonts/SF-UI-Display-Bold.otf");
  font-family: "San Francisco";
  font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "San Francisco", sans-serif;
  color: #24242c;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  overflow: hidden !important; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    list-style-type: none; }

span {
  position: relative;
  display: inline-block; }

a {
  color: #24242c;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

::-webkit-input-placeholder {
  color: #777777; }

::-moz-placeholder {
  color: #777777; }

:-ms-input-placeholder {
  color: #777777; }

::placeholder {
  color: #777777; }

.input {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #24242c;
  font-family: "San Francisco", sans-serif;
  border: 1px solid #d1d1d1;
  width: 100%;
  line-height: 54px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .input:focus {
    border-color: #2D46CD; }

.button {
  display: block;
  font-size: 14px;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .button_transparent {
    line-height: 40px;
    border: 1px solid white;
    background-color: transparent;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    .button_transparent:hover {
      background: white;
      color: #24242c; }
  .button_yellow {
    padding: 19px 48px;
    background-image: -webkit-linear-gradient(187deg, #ffd013 0%, #ef8f31 99%, #ef8f31 100%);
    background-image: linear-gradient(263deg, #ffd013 0%, #ef8f31 99%, #ef8f31 100%);
    -webkit-border-radius: 40px;
            border-radius: 40px;
    font-weight: 600;
    color: white;
    text-transform: uppercase; }
    .button_yellow:hover {
      background: #ef8f31; }
  .button_shadow-blue {
    -webkit-box-shadow: 0 16px 43px rgba(25, 40, 134, 0.48);
            box-shadow: 0 16px 43px rgba(25, 40, 134, 0.48); }
  .button_shadow-red {
    -webkit-box-shadow: 0 16px 43px rgba(126, 17, 59, 0.48);
            box-shadow: 0 16px 43px rgba(126, 17, 59, 0.48); }
  .button_shadow-black {
    -webkit-box-shadow: 0 16px 43px rgba(30, 62, 11, 0.48);
            box-shadow: 0 16px 43px rgba(30, 62, 11, 0.48); }
  .button_shadow-yellow {
    -webkit-box-shadow: 0 16px 43px rgba(253, 200, 23, 0.27);
            box-shadow: 0 16px 43px rgba(253, 200, 23, 0.27); }
  .button:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.input, .button, .textarea {
  outline: none; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.popups {
  display: none; }

.popup {
  display: none;
  width: 440px;
  background: white;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 60px 27px 54px;
  text-align: center; }
  .popup .fancybox-close-small {
    top: 18px;
    right: 26px;
    -webkit-transition: .3s;
    transition: .3s;
    background-image: url(../img/sprite.png);
    background-position: -207px -92px;
    width: 16px;
    height: 16px; }
    .popup .fancybox-close-small:after {
      display: none; }
    .popup .fancybox-close-small:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .popup__title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 19px; }
  .popup__desc {
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 35px;
    color: #777777; }
  .popup__input {
    margin-bottom: 11px; }
  .popup__input, .popup__button {
    width: 268px;
    margin-left: auto;
    margin-right: auto; }
  .popup__icon {
    margin-bottom: 40px; }

.header {
  color: white;
  background: url("../img/bg/header-left-top.png") no-repeat left top, url("../img/bg/header-right-top.png") no-repeat right top, #2b35bc; }
  .header a {
    color: white; }
  .header__title {
    font-size: 46px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px; }
  .header__button {
    max-width: 226px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto; }
  .header__arrow {
    width: 24px;
    margin-left: auto;
    margin-right: auto; }

.panel {
  position: absolute;
  width: 100%;
  top: 18px;
  left: 0; }
  .panel__logo {
    margin-right: 70px; }
  .panel__lang-switch {
    margin-right: 165px;
    padding-top: 7px; }
    .panel__lang-switch li {
      font-size: 12px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-transform: uppercase;
      font-weight: 700; }
      .panel__lang-switch li.select {
        background-color: #0b1a85; }
  .panel__nav {
    padding-top: 13px; }
    .panel__nav li {
      position: relative;
      font-size: 14px;
      margin-right: 47px; }
      .panel__nav li:last-of-type {
        margin-right: 0; }
      .panel__nav li.select a:after {
        width: 100%; }
    .panel__nav a {
      padding-bottom: 4px;
      position: relative; }
      .panel__nav a:after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background: white;
        left: 0;
        bottom: -4px;
        -webkit-transition: .3s;
        transition: .3s; }
      .panel__nav a:hover:after {
        width: 100%; }
  .panel__button {
    float: right;
    margin-top: 2px; }

.contacts {
  display: none;
  padding-top: 17px;
  padding-bottom: 19px;
  z-index: 2;
  position: absolute;
  top: 74px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #ffffff;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  left: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: 300; }
  .contacts:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: -webkit-calc(50% + 188px);
    left: calc(50% + 188px);
    top: -12px; }
  .contacts .phone, .contacts .email {
    display: inline-block; }
    .contacts .phone .icon, .contacts .email .icon {
      margin-right: 16px; }
  .contacts .phone {
    margin-right: 70px; }
    .contacts .phone a {
      color: #24242c; }
  .contacts .email {
    margin-left: 86px; }
    .contacts .email a {
      color: #2b35bc;
      border-color: #2b35bc; }

.company {
  text-align: center; }
  .company__title {
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 30px; }
  .company__text {
    color: #777;
    line-height: 32px;
    margin-bottom: 88px; }
  .company__icons {
    color: #777777; }
    .company__icons .icon__wrap {
      width: 78px;
      height: 78px;
      line-height: 78px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      -webkit-box-shadow: 0 4px 16px rgba(200, 200, 200, 0.55);
              box-shadow: 0 4px 16px rgba(200, 200, 200, 0.55);
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-bottom: 27px; }
    .company__icons .icon__text {
      font-weight: 300;
      line-height: 24px; }

.product {
  color: white; }
  .product__button {
    max-width: 268px;
    padding-left: 0;
    padding-right: 0; }
  .product__content {
    width: 620px;
    padding-top: 125px; }
  .product__title {
    font-size: 36px;
    font-weight: 300;
    line-height: 52px;
    margin-bottom: 40px; }
  .product__links {
    margin-bottom: 45px; }
    .product__links li {
      margin-right: 16px; }
      .product__links li:last-of-type {
        margin-right: 0; }
    .product__links a:hover {
      opacity: .7; }
  .product__desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 17px; }
  .product__img {
    float: right; }
  .product_full {
    text-align: center; }
    .product_full .product__content, .product_full .product__img {
      float: none;
      width: 100%; }
    .product_full .product__content {
      padding-top: 0; }
    .product_full .product__desc {
      margin-bottom: 30px; }
    .product_full .product__links {
      margin-bottom: 31px; }
    .product_full .product__button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px; }
  .product_img-bottom .container {
    position: static; }
  .product_img-bottom .product__content {
    padding-bottom: 350px; }
  .product_img-bottom .product__img {
    position: absolute;
    bottom: -4px;
    left: 0; }
  .product_pink {
    background-image: -webkit-linear-gradient(313deg, #c8494a 0%, #be4598 100%);
    background-image: linear-gradient(137deg, #c8494a 0%, #be4598 100%); }
  .product_blue {
    background-image: -webkit-linear-gradient(313deg, #5849c8 0%, #4581be 100%);
    background-image: linear-gradient(137deg, #5849c8 0%, #4581be 100%); }
  .product_black {
    background-image: -webkit-linear-gradient(313deg, #242424 0%, #1d1d1d 100%);
    background-image: linear-gradient(137deg, #242424 0%, #1d1d1d 100%); }
  .product_red {
    background-image: -webkit-linear-gradient(313deg, #b60c0b 0%, #d50d0d 100%);
    background-image: linear-gradient(137deg, #b60c0b 0%, #d50d0d 100%); }
  .product_green {
    background-image: -webkit-linear-gradient(313deg, #458121 0%, #458121 0%, #588e36 99%, #588e36 100%);
    background-image: linear-gradient(137deg, #458121 0%, #458121 0%, #588e36 99%, #588e36 100%); }
  .product_purple {
    background-image: -webkit-linear-gradient(313deg, #be3cfb 0%, #1649cb 100%);
    background-image: linear-gradient(137deg, #be3cfb 0%, #1649cb 100%); }

.do {
  padding-top: 120px;
  padding-bottom: 125px;
  background: url("../img/bg/do-left.png") no-repeat left 1070px, url("../img/bg/do-right.png") no-repeat right -280px; }
  .do__title {
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 100px; }
  .do__item {
    margin-bottom: 110px;
    padding-left: 68px; }
    .do__item:last-of-type {
      margin-bottom: 0; }
    .do__item:nth-of-type(even) .do__content {
      float: right; }
  .do__content {
    width: 680px; }
  .do__ul {
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 37px; }
    .do__ul li {
      display: block;
      color: #777777;
      font-size: 16px;
      padding-left: 35px;
      position: relative;
      margin-bottom: 15px;
      font-weight: 300; }
      .do__ul li:before {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 1px;
        background-image: url(../img/sprite.png);
        background-position: -117px -92px;
        width: 20px;
        height: 20px; }
  .do__button {
    color: white;
    max-width: 268px; }
  .do__img {
    padding-top: 11px;
    width: 295px; }
    .do__img img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .do__link {
    display: block;
    margin-top: 150px;
    text-align: center;
    font-size: 22px; }
    .do__link a {
      color: #2b35bc;
      border-bottom: 1px solid #2b35bc; }
      .do__link a:hover {
        border-color: transparent; }

.order {
  color: white;
  background: url("../img/bg/order-left.png") no-repeat left top, url("../img/bg/order-right.png") no-repeat right top, #2b35bc;
  padding-top: 70px;
  padding-bottom: 70px; }
  .order__content {
    width: 500px;
    padding-top: 45px; }
  .order__title {
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 43px; }
  .order__text {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px; }
    .order__text p {
      margin-bottom: 25px; }
      .order__text p:last-of-type {
        margin-bottom: 0; }
  .order__form {
    width: 440px;
    float: right;
    background: white;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    padding: 50px 50px 60px;
    color: #24242c; }
  .order__subtitle {
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 35px; }
  .order__input {
    margin-bottom: 11px; }
  .order__input, .order__button {
    width: 268px;
    margin-left: auto;
    margin-right: auto; }

.map {
  height: 600px;
  position: relative; }
  .map__data {
    background: white;
    z-index: 2;
    top: 70px;
    left: 15px;
    position: absolute;
    width: 400px;
    padding: 50px 74px 69px 57px; }
    .map__data p {
      margin-bottom: 15px; }
      .map__data p a {
        cursor: default; }
  .map__title {
    font-size: 44px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 39px; }
  .map__subtitle {
    font-weight: 700;
    margin-bottom: 15px; }
  .map__button {
    margin-top: 38px; }
  .map__wrap {
    position: absolute;
    top: 0;
    width: 100% !important; }

.footer {
  padding-top: 50px;
  padding-bottom: 46px;
  background: white; }
  .footer__copy {
    float: right; }

#fp-nav {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s; }
  #fp-nav.right {
    right: 5%; }
  #fp-nav.hidden {
    opacity: 0;
    z-index: -999; }
  #fp-nav ul li {
    width: 12px;
    height: 12px; }
    #fp-nav ul li:nth-of-type(1), #fp-nav ul li:nth-of-type(2), #fp-nav ul li:last-of-type {
      display: none; }
  #fp-nav ul a {
    border: 2px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: white;
    border: 2px solid transparent; }
    #fp-nav ul a.active {
      background: transparent;
      border: 2px solid white; }
  #fp-nav ul span {
    display: none; }

#up {
  right: 5%;
  bottom: 5%;
  position: fixed;
  display: block;
  width: 63px;
  height: 63px;
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.34);
          box-shadow: 0 13px 21px rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
  text-align: center;
  line-height: 58px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
