@media screen and (max-height: 890px)
	.product_img-bottom
		.product
			&__content
			&__title
				margin-bottom: 5px
			&__desc
				margin-bottom: 20px
			&__img
				img
					width: 700px
@media screen and (max-width: 768px)
	.w2, .w3, .w4, .w5, .w6
		.col
			width: 100%